* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lobster;
    background-color: aqua;
}

.titulo_ti, .subtitulo, .extra {
    color: #e773c1;
    font-size: 2.5rem;
    text-align: center;
}

.card_contenedora {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 4vh;
    margin-left: 20rem;
}

.card1, .card2, .card3, .card4 {
    margin: 5rem;
    width: 25rem;
    text-align: center;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
      transform: translate(0%, 0%);
    }
    50% {
      transform: translate(0%, 5%);
    }
    100% {
      transform: translate(0%, 0%);
    }
}

.card1 .card-img-top1, .card2 .card-img-top2, .card3 .card-img-top3, .card4 .card-img-top4 {
    height: 10rem;
    object-fit: cover;
    width: 80%; 
}

.card1 + .card2 + .card3 + .card4{
    margin-left: 2rem;
}

.form{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

.btnn .form-check-label{
    margin-left: 20rem;
    margin-right: 20rem;
}
